<h1>Inicio</h1>
<div class="home">
  <h3>¡Bienvenido al Panel de Administradores! 😎</h3>
  <p>Aquí puedes gestionar usuarios y configuraciones del sistema.</p>
  <hr>
  <section>
    <h3>Últimos datos nodo central</h3>
    <div *ngIf="ultimoDato" class="card-container">
      <div class="card">
        <h4>Temperatura</h4>
        <p>{{ ultimoDato.temperatura }} °C</p>
        <small>{{ ultimoDato.timestamp | date:'dd/MM/yyyy HH:mm' }}</small>
      </div>
      <div class="card">
        <h4>Humedad</h4>
        <p>{{ ultimoDato.humedad }} %</p>
        <small>{{ ultimoDato.timestamp | date:'dd/MM/yyyy HH:mm' }}</small>
      </div>
    </div>
    <div *ngIf="!ultimoDato">
      <p>Cargando datos...</p>
    </div>
  </section>
  <button (click)="logout()">Cerrar Sesión</button>
</div>