<div class="wrapper">
  <header>
      <nav class="navbar" id="navbar">
        <div class="logo">
          <h1>AXO Logo</h1>
        </div>
        <ul class="nav-links">
          <li><a (click)="scrollToSection('about')" class="nav-link">Acerca de</a></li>
          <li><a (click)="scrollToSection('mission')" class="nav-link">Misión</a></li>
          <li><a (click)="scrollToSection('vision')" class="nav-link">Visión</a></li>
          <li><a (click)="scrollToSection('objectives')" class="nav-link">Objetivos</a></li>
          <li><a (click)="scrollToSection('collaborators')" class="nav-link">Colaboradores</a></li>
        </ul>
        <a routerLink="/auth" class="login-button">Ingresa ahora</a>
      </nav>
    </header>
    
    <main>
      <!--TODO: Introducir un banner de presentación -->
      <section class="banner">
          <div class="banner-content">
            <img src="images/axo-logo.png" alt="Logo Proyecto Axo" class="banner-logo">
            <h1>Proyecto AXO</h1>
            <p>Monitoreo de refrigeradores en busca de un futuro sostenible</p>
          </div>
      </section>
      <!-- ABOUT -->
      <section class="section about" id="about">
        <div class="row">
          <div class="col-md-6">
            <h2>Acerca del Proyecto</h2>
            <p>El Proyecto Axo es una solución IoT diseñada para monitorear en tiempo real la temperatura y humedad de refrigeradores domésticos, garantizando la seguridad y frescura de los alimentos. A través de sensores remotos y un gateway LoRa, los datos se transmiten de forma segura a una plataforma web alojada en la nube, permitiendo a los usuarios supervisar sus dispositivos desde cualquier lugar.</p>
          </div>
          <div class="about-img-container col-md-6">
            <img src="images/about-fridge.png" alt="Algo" class="about-img">
          </div>
        </div>
          </section>
          
      <!-- Fin ABOUT -->
  
      <hr>
      <!-- MISIÓN Y VISIÓN -->
      <div class="row">
          <section class="section mission col-md-6" id="mission">
              <h2>Misión</h2>
              <p>Proporcionar una alternativa para la optimización del funcionamiento de los equipos de refrigeración.</p>
            </section>
          
            <section class="section vision col-md-6" id="vision">
              <h2>Visión</h2>
              <p>Ser un referente en la optimización de sistemas de refrigeración a través de la innovación tecnológica, ofreciendo soluciones de monitoreo en tiempo real que transformen la manera en que las industrias gestionan sus equipos de refrigeración. </p>
            </section>
      </div>
      <!-- Fin MISIÓN Y VISIÓN -->
      <hr>
    
      <section class="section objectives" id="objectives">
        <h2>Objetivos</h2>
        <div class="row">
          <div class="col-md-6">
              <ul class="objective-list">
                  <li class="objective-item">Optimizar el funcionamiento de los sistemas de refrigeración domésticos.</li>
                  <li class="objective-item">Mejorar la eficiencia energética.</li>
                  <li class="objective-item">Garantizar la conservación adecuada de productos.</li>
              </ul>
          </div>
          <div class="col-md-6">
              <div class="objective-img-container">
                  <img src="images/about-fridge.png" alt="Algo" class="objective-img">
              </div>
          </div>
        </div>
  
      </section>
      <!-- MISIÓN Y VISIÓN -->
      <hr>
      <section class="section collaborators" id="collaborators">
        <h2>Colaboradores</h2>
        <div class="collaborators-grid">
          <div class="collaborator">
              <div class="collaborator-img-container">
                  <img src="images/lider.jpg" alt="Líder">
              </div>
            <h5>Carlos Ibarra</h5>
            <span>Líder</span>
          </div>
          <div class="collaborator">
              <div class="collaborator-img-container">
                  <img src="images/facilitador.jpg" alt="Facilitador">
              </div>
            <h5>Brenda Ramirez</h5>
            <span>Facilitadora</span>
          </div>
          <div class="collaborator">
              <div class="collaborator-img-container">
                  <img src="images/analista.jpg" alt="Analista">
              </div>
            <h5>Mauricio Fragoso</h5>
            <span>Analista</span>
          </div>
          <div class="collaborator">
              <div class="collaborator-img-container">
                  <img src="images/desarrollador.jpg" alt="Desarrollador">
              </div>
            <h5>Isaac Luviano</h5>
            <span>Desarrollador</span>
          </div>
          <div class="collaborator">
              <div class="collaborator-img-container">
                  <img src="images/documentador.jpg" alt="Documentador">
              </div>
            <h5>Gemma de la Luz</h5>
            <span>Documentadora</span>
          </div>
        </div>
      </section>
    </main>
    
    <footer class="footer">
      <p>&copy; 2025 Proyecto Axo. Todos los derechos reservados.</p>
      <p>goblinmaster666&#64;gmail.com</p>
    </footer>
</div>